#web-development {
   display: none;
}



#no-course {
   display: none;
}



#web-dev,
#devops, #dev-ops, #web-development {
   display: none;
   border-radius: 20px;
   padding: 30px;
   border: 1px solid black;
   margin: 20px;
   text-align: center;
}



.web-body,
.devops-body {
   border-radius: 20px;
   padding: 30px;
   border: 1px solid black;
   margin: 20px;
   text-align: center;
}