#web-development{
   display: none;
}

#ux-design{
   display: none;
}

#no-course{
   display: none;
}

#cloud-engineering{
   display: none;
}

#web-dev{
   display: none;
}

#ux-des{
   display: none;
}